.detail_list_main {
  background-color: #522560;
  padding-top: 3%;
  padding-bottom: 3%;
  border-bottom: 2px snow solid;
}

.zero {
  background-color: #4c0a44;
}

.five {
  background-color: #3f80c2;
}

.ten {
  background-color: #40dbf9;
}

.detail_list {
  list-style: none;
  padding-left: 0;
  width: 80%;
  margin: auto;
}

.detail_list_item {
  display: flex;
  font-size: 1.1rem;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 10%;
  padding-right: 0;
  line-height: 2rem;
  border: 2px #16161d solid;
  margin: auto;
  margin-bottom: 2%;
  width: 60%;
}

.detail_list_item_button {
  background-color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  color: snow;
  font-size: 1.2rem;
}

@media only screen and (min-width: 400px) {
  .detail_list_item {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 1000px) {
  .detail_list_main {
    font-size: 2.5rem;
  }

  .detail_list_item {
    line-height: 4rem;
    padding-right: 10%;
    padding-left: 10%;
    font-size: 3rem;
  }

  .detail_list_item_button {
    font-size: 3rem;
  }
}
