.daybox {
  height: inherit;
  width: inherit;
}

.label {
  height: 20%;
}

.empty {
  background-color: inherit;
}

.ten {
  background-color: #40dbf9;
}

.nine {
  background-color: #2cc5ef;
}

.eight {
  background-color: #29aee3;
}

.seven {
  background-color: #3297d4;
}

.six {
  background-color: #3f80c2;
}

.five {
  background-color: #4a69ad;
}

.four {
  background-color: #515395;
}

.three {
  background-color: #543c7b;
}

.two {
  background-color: #522560;
}

.one {
  background-color: #4c0a44;
}
