.year_list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 0;
  margin: auto;
  justify-content: space-between;
  margin-bottom: 5%;
}

.year_list_item {
  width: 30%;
}

@media only screen and (min-width: 1000px) {
  .year_list {
    width: 60%;
  }
}
