body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #16161d;
  font-family: "Jura", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Krona One", sans-serif;
}
