.month_list {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(7, 0fr);
  padding: 0;
  justify-content: center;
}

.month_list_header {
  font-size: 0.5rem;
}

.month_list_item {
  width: 25px;
  height: 25px;
  border: 1px snow solid;
  font-size: 0.7rem;
}

.year {
  width: 7px;
  height: 7px;
  font-size: 0rem;
  border: 0.5px snow solid;
}

.year > svg {
  font-size: 0.3rem;
}

.empty_box {
  border: 1px #16161d solid;
}

@media only screen and (min-width: 750px) {
  .month_list_item {
    width: 40px;
    height: 40px;
  }

  .year {
    width: 12px;
    height: 12px;
  }

  .year > svg {
    font-size: 0.7rem;
  }
}

@media only screen and (min-width: 1000px) {
  .month_list_item {
    width: 60px;
    height: 60px;
  }

  .year {
    width: 20px;
    height: 20px;
  }

  .year > svg {
    font-size: 1rem;
  }
}
